* {
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}

.about {
    height: 100vh;
    width: 100%;
}

.banner {
    height: 92.5vh;
    width: 100%;
}

.service {
    height: 140vh;
    width: 100%;
    background-color: #f7f7f9;
}

.login {
    height: auto;
    width: 100%;
    background-color: #ffffff;
}

.footer {
    height: auto;
    width: 100%;
    color: #fff;
    background-color: #202124;
}

.formBx {
    min-width: 60%;
}

.formBx form {
    display: flex;
    /* flex-direction: column; */
}

input::placeholder {
    color: #000;
}

textarea::placeholder {
    color: #000;
}

form input,
form textarea {
    margin-bottom: 20px;
    padding: 12px;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    resize: none;
}

/* .formBx form select, .formBx form option{
    margin: 20px;
    padding: 12px;
    font-size: 16px;
    background: transparent;
    outline: none;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    resize: none;
} */

@media(max-width: 991px) {

    .service,
    .about {
        height: auto;
    }

    .footer {
        height: auto;
    }
}